<div class="navigation-wrapper">
    <div class="flex-wrapper container">
        <a class="home-link" routerLink="/product-list">Shop</a>

        <div *ngIf="isLoggedOut(); else loggedOutBlock">
            <div class="auth-container" *ngIf="currentUrl !== '/login' && currentUrl !== '/registration'">
                <a class="color-white" routerLink="/login">Sing in</a>
                <a class="color-white" routerLink="/registration">Sing up</a>
            </div>
        </div>

        <ng-template #loggedOutBlock>
            <div class="auth-container">
                <a class="color-white" routerLink="/cart">
                    <button mat-icon-button>
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </a>

                <button class="color-white" mat-stroked-button (click)="logout()">Sing out</button>
            </div>
        </ng-template>
    </div>
</div>
